#wrap {width: 100%; height: 100%; background-color: black; position: fixed;}
#wrap .wrap-background {width: 1100px; height: 900px; margin:100px auto; opacity: 0.7; background-color: #aaa;}

#bg_photo .bg_photo img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

#greeting {}
#greeting #container {}
#greeting #container .greeting_form {}
#greeting #container .greeting_form input {}
#greeting #container .greeting {font-size: 48px; color: white; z-index: 0; }


#clock {}
#clock #container {}
#clock #container .clock{font-size: 120px; color: white;}

#weather {font-size: 80px; color: white;}


#queto {}
#queto #container {}
#queto #container .queto_form {}
#queto #container .queto_form input {}
#queto #container .queto {}

#manageTask {position: absolute; right: 300px; top: 200px;}
#manageTask #container {text-align: right; padding-bottom: 10px;}
#manageTask #container #todo {padding-bottom: 100px;}
#manageTask #container #todo .todo_title {}
#todo .todo_title h2 {font-size: 40px; color: white;}
#doing {margin-bottom: 100px; }
#doing .doing_title {}
#doing .doing_title h2 {font-size: 40px; color: white;}
#done .done_title {}
#done .done_title h2 {font-size: 40px; color: white;}



